* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.BeerListItem {
    background: none;
    border: 0;
    border-bottom: 3px solid #ff51f0;
    font-size: smaller;
    color: #f0f0f0;
    display: block;
    padding: 10px 10px 0;
    text-align: left;
    width: 100%;
    text-decoration: none;
}

.BeerListItem:hover {
    cursor: pointer;
    background-color: #ff51f0;
}
  
.BeerListItem,
.BeerListItem:visited {
    color: #9e1993;
}
  
.BeerListItem__header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}
.BeerListItem__heading {
    margin: 0;
    padding: 20px 10%;
}
