* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex-container {
    font-family: verdana;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
  }
  
  .flex-container__header {
      /* position: absolute; */
      text-transform: uppercase;
      font-size: 4em;
      font-weight: 700;
      color: #f5f5f5;
      text-shadow: 1px 1px 1px #919191,
          1px 2px 1px #919191,
          1px 3px 1px #919191,
          1px 4px 1px #919191,
          1px 5px 1px #919191,
          1px 6px 1px #919191,
          1px 7px 1px #919191,
          1px 8px 1px #919191,
          1px 9px 1px #919191,
          1px 10px 1px #919191,
      1px 18px 6px rgba(16,16,16,0.4),
      1px 22px 10px rgba(16,16,16,0.2),
      1px 25px 35px rgba(16,16,16,0.2),
      1px 30px 60px rgba(16,16,16,0.4);
  }

h3 {
    padding: 30px 18%;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2);
}

p {
    padding: 30px 18%;
    color: #f0f0f0;
}

.PairingPage__comment-list {
    /* padding-inline-start: 20px; */
    list-style-type: none;
    padding: 30px 10%;
}

.PairingPage__comment {
    position: relative;
    padding: 30px 10%;
}

.PairingPage__comment::before {
    border-color: transparent #ff51f0;
    border-style: solid;
    border-width: 0px 0px 10px 10px;
    content: '';
    display: block;
    height: 0px;
    position: absolute;
    width: 0;
    bottom: 14px;
    right: 7px;
}