* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    padding: 2%;
    margin: auto;
    max-width: 1000px;
    font-family: sans-serif;
    font-size: 18px;
}