* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.beer__form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.beer__form select {
    padding: 10px;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, .5);
    outline: none;
}

.beerSubmit {
    padding: 10px;
    margin: 35px;
    width: 175px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, .5);

    color: #000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.beerSubmit:hover {
    color: #ff51ff
}