* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.add-comment-button {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 33%;
    justify-content: flex-end;
    align-items: center;
}