h2 {
    padding: 30px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    h2 {
        position: absolute;
        margin: auto;
        padding-bottom: 1em;
        left: 15%;
    }
    .SelectBeer {
        display: flex;
        align-items: center;
        padding-top: 40px;
    }
}